/* ===========================
   TABLETS
=========================== */

@media (max-width: 992px){

    .container{
        width: 90%;
    }

    .banner-conteudo,
    .hero-conteudo,
    .sobre-conteudo,
    .formulario-grid{

        display:flex;
        flex-direction:column;
        text-align:center;
    }

    .banner-texto,
    .banner-imagem,
    .hero-conteudo div,
    .hero-conteudo img,
    .sobre-texto,
    .sobre-imagem{

        width:100%;
    }

    .hero-conteudo img,
    .banner-imagem img,
    .sobre-imagem img{

        max-width:450px;
        margin:auto;
        display:block;
    }

    .cards,
    .grid-produtos,
    .beneficios-grid,
    .galeria-grid,
    .categorias-grid,
    .mvv-grid{

        grid-template-columns:repeat(2,1fr);
    }

}


/* ===========================
   CELULAR
=========================== */

@media(max-width:768px){

    header .container{

        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .logo{

        margin-bottom:20px;
    }

    nav ul{

        display:flex;
        flex-direction:column;
        gap:15px;
    }

    .banner-texto h2,
    .hero-conteudo h2{

        font-size:34px;
    }

    .banner-texto p,
    .hero-conteudo p{

        font-size:16px;
    }

    .cards,
    .grid-produtos,
    .beneficios-grid,
    .galeria-grid,
    .categorias-grid,
    .mvv-grid{

        grid-template-columns:1fr;
    }

    .produto img{

        height:250px;
    }

    .categorias-grid article,
    .produto,
    .card{

        max-width:380px;
        margin:auto;
    }

    .formulario-grid{

        display:flex;
        flex-direction:column;
    }

    .radio{

        flex-direction:column;
        align-items:flex-start;
    }

    section{

        padding:60px 0;
    }

}


/* ===========================
   CELULARES PEQUENOS
=========================== */

@media(max-width:480px){

    .banner-texto h2,
    .hero-conteudo h2{

        font-size:28px;
    }

    h2{

        font-size:28px;
    }

    .btn,
    .btn-card{

        width:100%;
        text-align:center;
    }

    footer{

        text-align:center;
    }

}